body {
    font-family: Arial, Helvetica, sans-serif;
}

.hotel-header{
    text-align: center;
}

.hotel-body{
    margin:auto;
    max-width: 90%;
}


.hotel-item{
    padding: 32px;
    border-radius:3px;
    border: 1px solid #dcdcdc;
    display:flex;
    justify-content: space-between;
    margin-bottom: 8px;
    text-align: left;
}

.hotel-description {
    width: 300px;
}

.hotel-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



